
<nav>
  <div class="math-background">
    <span>&int;</span> <span>&sum;</span> <span>&plus;</span> <span>&minus;</span> <span>&times;</span>
    <span>&divide;</span> <span>&pi;</span> <span>&radic;</span> <span>&infin;</span> <span>&Delta;</span>
    <span>X</span> <span>Y</span> <span>Z</span> <span>&ne;</span> <span>&alpha;</span>
    <span>&beta;</span> <span>&gamma;</span> <span>%</span> <span>&theta;</span> <span>&fnof;</span>
</div>

<div class="page-header">
        <div class="logo-title-group">
           <img src="/image/12.png" alt="logo(Math Vocabulary Builder)">
           <img src="/image/13.png" alt="Math Vocabulary Builder" id="Math">
            
  </div>
        <div class="auth-buttons-container">          
         <% if (user) { %>

   <% if (user.prof) { %>
     <img src="<%= user.prof %>" alt=" profile picture" class="profile-pic">
     
    <% } else { %>
     <img src="/image/prof.png" alt="default-avatar" class="profile-pic">
     <% } %>
  
  <a href="/">Home</a>
  <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
  <% } %>
</nav>

  </div>
  </div>
 
  