<nav>

    <div class="page-header">
        <div class="logo-title-group">
            <img src="../image/12.png" alt="logo(Math Vocabulary Builder)">
            <img src="../image/13.png" alt="Math Vocabulary Builder" id="Math">
            
  </div>
  <div class="auth-buttons-container">
  <a href="/auth/sign-up" class="">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
  </div>
</nav>