<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link rel="stylesheet" href="/stylesheets/style.css">


</head>
<body>
 
 <%- include('./partials/_navbar.ejs') %>

  <div class="home-content-container">
        <h2>Welcome to Your Dictionary</h2>
        <img src="../image/logo-with-white-background.png" alt="Main Logo" class="main-logo-large">
        <p>Explore, learn, and contribute mathematical terms to your personal vocabulary collection.</p>
        <a href="/terms" class="button-link primary-action1">   📘  Go to Math Dictionary</a>
        <a href="terms/new" class="button-link primary-action"> ➕ Add a New Term</a>

  

</body>
</html>