 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Math Term</title>
<link rel="stylesheet" href="../stylesheets/style.css">
 </head>
 <body>
   <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Math Term</h1>

    <% const icons = {
     'Algebra': 'âž—',
      'Geometry': 'ðŸ“',
      'Calculus': 'âˆ«',
      'Statistics': 'ðŸ“Š',
      'Probability': 'ðŸŽ²',
      'Trigonometry': 'ðŸ“',
      'Linear Algebra': 'ðŸ§®',
      'Number Theory': 'ðŸ”¢',
      'Discrete Math': 'ðŸ§©'
}; %>

    <form action="/terms" method="POST">

  <label for="name">Name: </label>
  <input type="text" name="name" id="name" required />

  <label for="definition">definition:</label>
  <input type="text" name="definition" id="definition" required />

  <label for="example">example:</label>
  <input type="text" name="example" id="example" required />

  <label for="category">category:</label>
<select name="category" id="category" required>
  <option value="" disabled selected>choose</option> 

 <% categories.forEach(cat => { %>
        <option value="<%= cat %>">
           <%= cat %><%= icons[cat] %>
        </option>
      <% }) %>

</select>
<div class="buttons-row">
  <button type="submit" class="butt">Add Term</button>
  <a href="/terms" class="aLink1"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M396-200q-97 0-166.5-63T160-420q0-94 69.5-157T396-640h252L544-744l56-56 200 200-200 200-56-56 104-104H396q-63 0-109.5 40T240-420q0 60 46.5 100T396-280h284v80H396Z"/></svg></a>
</div>
</form>
 </body>
 </html>