 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Math Term </h1>
    <form action="/terms" method="POST">

  <label for="name">Name: </label>
  <input type="text" name="name" id="name" required />

  <label for="definition">definition:</label>
  <input type="text" name="definition" id="definition" required />

  <label for="example">example:</label>
  <input type="text" name="example" id="example" required />

  <label for="category">category:</label>
<select name="category" id="category" required>
  <option value="" disabled selected>choose</option> 
  
  <option value="Algebra"> (Algebra)</option>
  <option value="Geometry"> (Geometry)</option>
  <option value="Calculus"> (Calculus)</option>
  <option value="Statistics"> (Statistics)</option>
  <option value="Other"> (Other)</option> 
</select>
  <button type="submit">Add Term</button>
</form>
 </body>
 </html>