 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../stylesheets/style.css">
 </head>
 <body>
    <div class="page-header">
        <div class="logo-title-group">
            <img src="../stylesheets/image/12.png" alt="logo(Math Vocabulary Builder)">
            <img src="../stylesheets/image/13.png" alt="Math Vocabulary Builder" id="Math">
        </div>
        <div class="auth-buttons-container">
            <%- include('../partials/_navbar.ejs') %>
        </div>
    </div>
    <h1>Add a New Math Term</h1>

    <% const icons = {
  'Algebra': 'âž—',
  'Geometry': 'ðŸ“',
  'Calculus': 'âˆ«',
  'Statistics': 'ðŸ“Š',
  'Probability': 'ðŸŽ²',
  'Trigonometry': 'ðŸ“',
  'Linear Algebra': 'ðŸ§®',
  'Discrete Math': 'ðŸ§©'
}; %>

    <form action="/terms" method="POST">

  <label for="name">Name: </label>
  <input type="text" name="name" id="name" required />

  <label for="definition">definition:</label>
  <input type="text" name="definition" id="definition" required />

  <label for="example">example:</label>
  <input type="text" name="example" id="example" required />

  <label for="category">category:</label>
<select name="category" id="category" required>
  <option value="" disabled selected>choose</option> 

 <% categories.forEach(cat => { %>
        <option value="<%= cat %>">
           <%= cat %><%= icons[cat] %>
        </option>
      <% }) %>

</select>
<div class="buttons-row">
  <button type="submit" class="butt">Add Term</button>
  <a href="/terms" class="aLink1">back</a>
</div>
</form>
 </body>
 </html>